---
# Only the main Sass file needs front matter (the dashes are enough)
---
//
// Main sass file, to import all styles
//

@charset "utf-8";

$spacing-unit:     24px;
$super-search:     rgba(0, 191, 255, 0.85);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$code-font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"normalize",
	"material",
	"font",
	"reset-material",
  "base",
  "layout",
  "syntax-highlighting",
  "post",
  "search"
;