* {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #777;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover {text-decoration: none;}
input, button {
    outline: none;
    font-family: "microsoft yahei";
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
input:focus, button:focus {
    outline: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    zoom: 1;
}
::-moz-selection {
    background: #81CC7A;
    color: #fff;
}
::selection {
    background: #81CC7A;
    color: #fff;
}