* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #83CB7D;
}
input, button {
    outline: none;
    font-family: "Microsoft Yahei";
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
input:focus, button:focus {
    outline: none;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.clear:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
    clear: both;
}
.clear {zoom:1;}
::-moz-selection {
    background: #81CC7A;
    color: #fff;
}
::selection {
    background: #81CC7A;
    color: #fff;
}