body {
    background: #efefef;
    padding-top: 53px;
}
.container {
    width: 980px;
    height: auto;
    margin: 0 auto;
}
.nav {
    background: #777;
    position: fixed;
    width: 100%;
    height: 33px;
    top: 0;
    z-index: 99;
}
.nav .container {background: none;}
.nav ul li a {
    display: block;
    float: left;
    padding: 6px 24px;
    color: #fff;
}
.nav ul li a.pageon,
.nav ul li a:hover {background: #81CC7A;}
/* share */
.article {
    background: #fff;
    padding: 16px;
    margin-bottom: 20px;
}
#date {margin-bottom: 12px;}
.info {margin-top: 12px;}
#date, .info {font-size: 13px;}
.title {font-size: 20px;}
.detail {
    font-size: 14px;
    margin-top: 12px;
    color: #999;
}
.text {color: #999;}
/* about */
.about {margin-bottom: 20px;}
.head {
    width: 100%;
    height: 400px;
    background: url(../img/me_bckg.jpg) no-repeat top;
    background-size: cover;
    overflow: hidden;
}

.footer .copyright {
    font-size: 12px;
    text-align: center;
    padding: 16px 0 8px;
    cursor: default;
    color: #777;
}
.gotop {
    display: block;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 36px;
    right: 36px;
    cursor: pointer;
}