* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #606c71;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    padding: 40px 0;
}

.page-header h1 {
    margin: 4px 0;
	font-size: 48px;
}

.page-header h3 {
	font-weight: 400;
	color: rgba(255, 255, 255, .7)
}

.page-header h1,
.page-header h2,
.page-header h3 {
	cursor: default;
}

.container {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.container h3 {
    margin: 24px 0 12px;
    color: #159957;
    font-weight: 400;
    font-size: 22px;
}

.container p {
    margin: 12px 0;
    line-height: 1.6em;
}

.info {
	width: 800px;
	height: 200px;
	border: 1px solid red;
}

.image {
    margin: 6px;
    -webkit-transform: translate(0,0);
       -moz-transform: translate(0,0);
        -ms-transform: translate(0,0);
         -o-transform: translate(0,0);
            transform: translate(0,0);
    -webkit-transition: transform 0.3s;
       -moz-transition: transform 0.3s;
         -o-transition: transform 0.3s;
            transition: transform 0.3s;
}

.image:hover {
    -webkit-transform: translate(0,-8px);
       -moz-transform: translate(0,-8px);
        -ms-transform: translate(0,-8px);
         -o-transform: translate(0,-8px);
            transform: translate(0,-8px);
    -webkit-transition: transform 0.1s;
       -moz-transition: transform 0.1s;
         -o-transition: transform 0.1s;
            transition: transform 0.1s;
}

.container pre {
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 12px;
    background: #f0f0f0;
}

code {
    font-size: 13px;
    font-family: 'Source Code Pro Medium';
    line-height: 1.2em;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:hover, a:visited, a:focus {
    text-decoration: underline;
    color: #1e6bb8;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 24px 0;
}

#gotop {
    text-decoration: none;
    position: fixed;
    right: 40px;
    bottom: 50px;
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/up.png) center center no-repeat;
	display: none;
}

#gotop:hover {
    text-decoration: none;
    background: url(../img/up_hover.png) center center no-repeat;
    color: #fff;
}
