/* reset */
* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}
a {
	text-decoration: none;
    outline: none;
}
a:focus {
    outline: none;
}
ul {
	list-style: none;
}
.iScrollVerticalScrollbar.iScrollLoneScrollbar {
	overflow: visible!important;
	background: #99702c;
	width: 2px!important;
	right: 8px!important;
}
.iScrollIndicator {
	width: 7px!important;
	background: url('../assets/index/scrollbar.png') no-repeat 50% 50%!important;
	background-size: 100% 100%;
	border: 0!important;
	border-radius: 4px!important;
	left: -2.5px;
}
/* base */
html, body, .full-size {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.fbg {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.center {
	display: block;
	margin: 0 auto;
}
/* common */
.container {
	text-align: center;
	position: relative;
}
#agegate {
	background-image: url('../assets/agegate/bg.jpg');
}
#index {
	background-image: url('../assets/index/bg.jpg');
}
.warn {
	width: 1.83rem;
	height: 0.15rem;
	margin-top: 0.2rem;
	
}
/* agegate */
.logo {
	width: 1.6rem;
	height: 1.1rem;
	margin-top: 0.4rem;
	position: relative;
	z-index: 2;
}
.qr {
	width: 3.23rem;
	height: 6.12rem;
	margin-top: 0.2rem;
	background: url('../assets/agegate/content.png') no-repeat 50% 50%;
	background-size: 100% 100%;
	position: relative;
}
.qr img {
	width: 1.04rem;
	height: 1.04rem;
	position: absolute;
	top: 3.3rem;
	right: 0.36rem;
}
.android {
	width: 1.3rem!important;
	height: 1.3rem!important;
	top: 3.18rem!important;
	right: 0.23rem!important;
}
.yes {
	width: 2.79rem;
	height: 0.59rem;
	margin-top: 0.4rem;
}
.no {
	width: 1.11rem;
	height: 0.18rem;
	margin-top: 0.2rem;
}
.float {
	width: 4.34rem;
	height: 4.04rem;
	background: #131146;
	border-radius: 12px;
	z-index: 2;
	margin-top: -0.6rem;
	display: none;
}
.float .tip {
	width: 3.11rem;
	height: 0.8rem;
	margin-top: 1rem;
}
.float .back {
	width: 2.23rem;
	height: 0.52rem;
	margin-top: 0.8rem;
}
.bg {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .4);
	z-index: 1;
	display: none;
}
/* index */
.brcode {
	width: 4.37rem;
	/*height: rem;*/
	margin-top: 0.1rem;
	text-align: center;
	font-size: 0.16rem;
	letter-spacing: 0.04rem;
}
.code1, .code2 {
	position: relative;
	left: 300px;
}
.code1 {
	display: inline-block;
	width: 2.66rem;
	height: 1.5rem;
	margin-top: 0.18rem;
	margin-bottom: 0.08rem;
}
.code1 img, .code2 img {
	width: 100%;
	height: 100%;
}
.code2 {
	display: inline-block;
	width: 2.77rem;
	height: 1.49rem;
	margin-top: 0.3rem;
	margin-bottom: 0.1rem;
}
.cl1 {
	width: 2.7rem;
	height: 0.16rem;
}
.cl2 {
	width: 3.05rem;
	height: 0.4rem;
}
.review {
	width: 4.37rem;
	height: 1.03rem;
	margin-top: 0.18rem;
}
.content {
	color: #131446;
	font-size: 0.13rem;
	text-align: center;
}
/*.content .t {
	margin-top: 0.18rem;
	line-height: 0.2rem;
}*/
.text {
	width: 4.08rem;
	height: 1.28rem;
	margin-top: 0.2rem;
}
.cm {
	width: 2.07rem;
	height: 0.35rem;
	margin-top: 0.24rem;
}
.terms {
	width: 0.95rem;
	height: 0.19rem;
	margin-top: 0.15rem;
}
.float_terms {
	width: 5.2rem;
	height: 4.86rem;
	background: #131446;
	color: #fff;
	font-size: 0.16rem;
	border-radius: 12px;
	margin-top: -0.6rem;
	z-index: 2;
	display: none;
}
.float_terms h4 {
	font-size: 0.26rem;
	text-align: center;
	margin-top: 0.4rem;	
}
.wrapper {
	width: 4.8rem;
	height: 3.6rem;
	overflow: auto;
	margin: 0.1rem auto 0;
	position: relative;
}
.scroller {
	/*min-height: 101%;*/
}
.wrapper ul {
	line-height: 0.28rem;
	padding-right: 0.5rem;
	padding-left: 0.3rem;
	font-weight: 100;
	letter-spacing: 0.01rem;
}
.map {
	position: absolute;
	top: 0;
	left: 0;
	background: #d6d6d6;
	z-index: 2;
	display: none;
	text-align: center;
}
.map .map_img {
	width: 100%;
	height: auto;
}
/*.map .warn {
	color: #000;
}
*/
.map .close {
	display: inline-block;
	width: 0.34rem;
	height: 0.34rem;
	position: absolute;
	top: 6px;
	right: 6px;
	background: url('../assets/index/close.png') no-repeat 50% 50%;
	background-size: 100% 100%;
}
.close_w {
	display: inline-block;
	width: 0.26rem;
	height: 0.26rem;
	position: absolute;
	top: 12px;
	right: 12px;
	background: url('../assets/index/close_w.png') no-repeat 50% 50%;
	background-size: 100% 100%;
}

@media only screen and (min-width: 481px) {
	#agegate {
		display: none;
	}
}
/* 

#1a1950 

104 104

*/