$coffee: #603811;
@mixin center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
@mixin font {
	font-size: 16px;
	font-style: "Microsoft Yahei";
}

body {
	margin: 0;
	padding: 0;
}
#myCanvas {
	display: block;
	@include center;
}
#btns {
	width: 800px;
	height: auto;
	@include center;
	margin-top: 40px;
	span {
		display: inline-block;
		float: left;
		cursor: pointer;
		@include font;
		margin-right: 8px;
		padding: 8px 12px;
		border: 1px solid #ccc;
	}
	span.selected {
		background: #ddd;
		color: $coffee;
	}
}
#btns:after {
	content: "";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}