$coffee: #603811;
@mixin center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
@mixin font {
	font-size: 16px;
	font-family: "Microsoft Yahei";
}

html, body {
	@include font;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: #81cc7a;
}
#myCanvas {
	display: block;
	@include center;
}
#btns {
	width: 800px;
	height: auto;
	@include center;
	margin-top: 40px;
	span {
		display: inline-block;
		float: left;
		cursor: pointer;
		@include font;
		margin-right: 8px;
		padding: 8px 12px;
		border: 1px solid #ccc;
	}
	span.selected {
		background: #ddd;
		color: $coffee;
	}
}
#btns:after {
	content: "";
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	clear: both;
}
.footer {
	position: absolute;
	width: 100%;
	height: 40px;
	/*line-height: 36px;*/
	bottom: 0;
	span {
		padding: 4px 8px;
		color: #fff;
	}
	.btn {
		display: block;
		position: absolute;
		cursor: pointer;
	}
	.back {
		left: 0;
	}
	.next {
		right: 0;
	}
	.upload {
		width: 100px;
		height: auto;
		@include center;
	}
}