/**
 * Reset mobile style
 */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    margin-left: 0;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 12px;
    // border: 1px solid $grey-color-light;
    border-radius: 3px;
}

code {
    padding: 0.2em 0.3em;
}

.highlighter-rouge {
    word-wrap: break-word;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #f6f8fa;
    font-family: $code-font-family;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
        font-family: $code-font-family;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
