/* reset */
* {
    margin: 0;
    padding: 0;
}
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}
a:focus {
    outline: none;
}
ul, ol {
    list-style: none;
}
/* base */
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.tip {
	background: url(../img/tip.png) no-repeat 0 0;
	background-size: cover;
	display: inline-block;
	width: 1.35rem;
	height: 0.2rem;
	position: absolute;
	bottom: 12px;
	left: 12px;
	z-index: 9;
}
.pos {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}
/* common */
.hide {
	position: absolute;
	top: -999px;
	left: -999px;
}
.container {
	z-index: 1;
}
.container canvas {
	width: 7.5rem;
	height: 12.06rem;
}
.container .intro {
	width: 3.76rem;
	height: 0.76rem;
	padding: 0.12rem;
	overflow: auto;
	border: 2px solid #f1ca3e;
	border-radius: 5px;
	position: absolute;
	top: 7rem;
	left: 1.8rem;
	z-index: 2;
	display: none;
}
.container .intro p {
	font-size: 0.21rem;
	line-height: 0.29rem;
	color: #fff;
}
.container #intro0 {
	top: 6.9rem;
	left: 1.78rem;
}
.container #intro1 {
	top: 6.9rem;
	left: 1.98rem;
}
.container #intro3 {
	left: 1.78rem;
}
.share {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
}
.share img {
	width: 7.5rem;
	height: 12.06rem;
}